@import "../../global.scss";

.contact{
    background-color: #282c34 ;
    display: flex;

    @include mobile{
        flex-direction: column;
    }
    .left{
        flex: 1;
        overflow: hidden;
        
        

        
#webgl {
    width: 800px;
    height: 600px;
    position: absolute;
    z-index: -1;
  }
  
  #webgl2 {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 2;
  }
  
  #bg-box {
    width: 802px;
    height: 602px;
    position: absolute;
    z-index: -1;
  }
  
  .svg-box {
    width: 700px;
    height: 600px;
    position: absolute;
    z-index: 1;
  
    #robot {
      cursor: pointer;
    }
  }
  
    }
    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 100px;
            overflow: hidden;
    line-height: 152%;
    font-weight: 600;
            // -webkit-text-fill-color: transparent;
    max-width: 756px;
    letter-spacing: 1px;
    color: rgb(130, 249, 161);
    background: linear-gradient(rgb(176, 251, 188), rgb(130, 249, 161)) text;
        }

        .contactform
        {
            width: 40%;
            padding: 40px;
            background: #282c34;
            overflow: hidden;
        }
        .contactform h2
        {
            font-size: 30px;
            color: #fff;
            font-weight: 500;
            padding-bottom: 10px;
        }
        .contactform .inputbox
        {
            position: relative;
            width: 100%;
            margin-top: 10px;
            
        }
        .contactform .inputbox input,
        .contactform .inputbox textarea
        {
            width: 100%;
            padding: 15px 0;
            font-size: 16px;
            margin: 15px 0;
            border: none;
            border-bottom: 2px solid #fff;
            outline: none;
            resize: none;
            background-color: transparent;
            color: #fff;
        }
        .contactform .inputbox span
        {
            position: absolute;
            left: 0;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            pointer-events: none;
            transition: 0.5s;
            color: #666;
        }
        .contactform .inputbox input:focus ~ span,
        .contactform .inputbox input:valid ~ span,
        .contactform .inputbox .input:valid ~ label,
        .contactform .inputbox textarea:focus ~ span,
        .contactform .inputbox textarea:valid ~ span
        {
            color: rgb(130, 249, 161);
            font-size: 12px;
            transform: translateY(-15px);
        }
        .contactform .inputbox input[type="submit"]
        {
            width: 100px;
            background: #00bcd4;
            color: #fff;
            border: none;
            cursor: pointer;
            padding: 10px;
            font-size: 18px;
        }
        
        // form{
        //     width: 70%;
        //     height: 70%;
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     justify-content: space-around;

            // input{
            //     width:300px;
            //     height: 30px;
            //     font-size: 14px;

            //     @include mobile{
            //         width: 200px;
            //         height: 20px;
            //     }
            // }

            // textarea{
            //     width: 300px;
            //     height: 100px;
            //     font-size: 14px;
            //     @include mobile{
            //         width: 200px;
            //         height: 100px;
            //     }
            // }

            // button{
            //     width: 150px;
            //     height: 30px;
            //     color: white;
            //     background-color: rgb(130, 249, 161);
            //     border: none;
            //     border-radius: 10px;
            //     font-weight: 500;
            //     cursor: pointer;

            //     &.focus{
            //         outline: none;
            //     }
            // }

            // span{
            //     color: green;
            // }



        // }
    }
}