@import "../../global.scss";

.bdy{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial, sans-serif;
    background-color: white !important;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}
nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 30px;
	margin-top: 14px;
}
nav a {
	font-size: 13px;
	display: inline-block;
	line-height: 24px;
	font-weight: 400;
	color: #000;
	cursor: pointer;
	padding: 5px 6.7px
}
nav a:hover {
	text-decoration: underline;
	opacity: .85;
}
nav img {
	width: 34px;
	padding: 5px;
	margin: auto 7px;
	cursor: pointer;
}
nav img:hover {
	opacity: .8;
}
nav button {
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: #4285f4;
	color: #fff;
	padding: 7px 12px;
	border-radius: 3px;
	margin-left: 7px;
	cursor: pointer;
}
.section-1 {
	flex: 1;
	overflow: hidden;

	
}
.section-1 form{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1 .logo {
	display: block;
	margin: 0px auto;
	margin-top: 10%;
}
.s-box {
	// width: 580px;
	width: 95%;
	margin: 0px auto;
	position: relative;
	// margin-top: -8px;
	text-align: center;
	overflow: hidden;
}
.s-box .s-input {
	height: 22px;
    max-height: 44px;
	display: block;
	border: 1px solid #ddd;
	color: rgba(0,0,0, 0.87);
	font-size: 16px;
	padding: 13px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
	transition: box-shadow 100ms;
	outline: none;
	overflow: hidden; /* Hide overflow */
    resize: vertical; /* Allow vertical resizing */

}
.s-box  .s-input:hover {
	border: 1px solid #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
				0 0 2px rgba(0, 0, 0, 0.05),
				0 0 3px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05)
}
.s-box .search-icon {
	width: 20px;
    opacity: 0.4;
    position: absolute;
    top: 13%;
    left: 5%;
}
.s-box .vs-icon {
	width: 14px;
    position: absolute;
    /* top: 13px; */
    top: 13%;
    right: 5%;
}
.s-btn {
	border: 1px solid transparent;
	padding: 9px 15px;
	color: #666;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 28px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
	// overflow: hidden;
}
.s-btn:hover {
	border: 1px solid #aaa;
}
.lang {
	margin-top: 30px;
	text-align: center;
	font-size: 13px;
	color: #111;
}
.lang a {
	margin-left: 5px;
	color: #1a0dab;
}
.lang a:hover {
	text-decoration: underline;
}
footer {
	background: #f2f2f2;
}
footer h4 {
	color: rgba(0,0,0, 0.54);
	font-size: 15px;
	line-height: 39.5px;
	font-weight: 400;
	padding-left: 29px;
	border: 1px solid #eee;
}
footer a {
	color: #5f6368;
	display: inline-block;
	padding: 12px 11.3px;
	font-size: 14px;
}
footer a:hover {
	text-decoration: underline;
}
.links {
	border-top: 1px solid #ddd;
	display: flex;
}
.link-1 {
	padding-left: 18.7px;
	flex: 1;
}
.link-2 {
	padding-right: 18.7px;
}


@include mobile {
	.section-1 .logo {
		margin-top: 25%;
	}
	.s-box {
		width: 95%;
	}	
	.s-box .s-input {
		width:  85%;
		overflow: hidden;
	}
}

@include tablet {
	.section-1 .logo {
		margin-top: 20%;
	}

	.s-box {
		width: 95%;
	}	
	.s-box .s-input {
		width:  90%;
		font-size: 18px;
		overflow: hidden;
	}
	.s-box .search-icon {
		left: 3%;
		width: 24px;
	}
	.s-box .vs-icon {
		right: 5%;
		width: 14px;
	}
}

@include desktop {
	.s-box {
		width: 65%;
	}	
	.s-box .s-input {
		width:  90%;
		font-size: 18px;
		overflow: hidden;
	}
	.s-box .search-icon {
		left: 3%;
		width: 22px;
	}
}

@include laptopL {
	.section-1 .logo {
		width: 25%;
		margin-top: 5%;
	}
	.s-box {
		width: 60%;
	}	
	.s-box .s-input {
		height: 32px;
    max-height: 44px;
	font-size: 22px;
	padding-left: 50px;
	}
	.s-box .vs-icon {
		width: 20px;
		top: 12%;
		right: 5%;
	}
	.s-box .search-icon {
		width: 24px;
		top: 13%;
		left: 2%;
	}
	.s-btn {
		font-size: 18px;
	}
	.lang {
		font-size: 15px;
	}
}

@include fourK {
	nav a {
		font-size: 32px;
		padding: 15px 18px;
	}
	nav img {
		width: 48px;
		padding: 12px;
		margin: auto 12px;
	}
	nav button{
		
		font-size: 32px;
		padding: 12px 18px;
		border-radius: 8px;
		margin-left: 12px;
	}
	.section-1 .logo {
        width: 25%;
        margin-top: 7%;
    }

	.s-box {
		width: 60%;
	}	
	.s-box .s-input {
        height: 48px;
        max-height: 44px;
        font-size: 36px;
        padding-left: 70px;
    }
	.s-box .vs-icon {
        width: 28px;
        top: 10%;
        right: 5%;
    }
	.s-box .search-icon {
        width: 44px;
        top: 11%;
        left: 1%;
    }
	.s-btn {
		padding: 18px 24px;
		margin-right: 24px;
	    margin-top: 44px;
		font-size: 32px;
	}
	.lang {
		font-size: 30px;
	}
}